<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/cPLevey/macOS-brewupdate-launchd -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>homebrew.brewupdate.plist</string>

  <key>ProgramArguments</key>
  <array>
    <string>~/.launchd/brewupdate.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>21600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>~/.launchd/logs/brewupdate.err</string>

  <key>StandardOutPath</key>
  <string>~/.launchd/logs/brewupdate.log</string>
</dict>
</plist>